
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form_for @article, html: { multipart: true } do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= f.label :file %>
      <%= f.file_field :file %>
      <%= f.submit "Save", class: "btn btn-primary" %>
   <% end %>
  </div>

